<div class="page">
  <section class="hero hero-transition">
    <h1>Debriefs</h1>
  </section>
  <section class="main-section-transition" x-data="{ admin: {{admin}} }">
    <section x-style="flex; flex-col; mx:3rem;">
      {% for test in testimonials %}
      <div
        x-style="
        w:100%;
        align-self:center;
        bg-color:@primary-dark;
        b:1px @primary-light solid;
        radius:xl;
        p:1rem;
        m:1rem;
        "
      >
        <h1
          class="underlined"
          x-style="color:@semper-orange; font-size:2rem; mb:0.25rem; mt:0.5rem;"
        >
          {{ test.firstname }} {{test.lastname}}
        </h1>
        {% if let Some(bio) = test.bio %}
        <small>{{ bio }}</small>
        {% endif %}
        <p>{{ test.content|safe }}</p>
        <button
          x-show="admin"
          hx-push-url="false"
          hx-target="#delete-response"
          hx-swap="innerHTML"
          hx-delete="/data/auth/delete/{{ DEBRIEFS }}/{{ test.id }}"
          class="material-symbols-outlined"
        >
          close
        </button>
      </div>
      {% endfor %}
    </section>

    <span
      @htmx:before-swap="
      if ($event.detail.failed) {
        $el.classList.add('fail')
      } else {
        $el.classList.remove('fail')
      }
      setTimeout(() => $el.textContent = '', 3000);
      "
      id="delete-response"
    >
    </span>
  </section>
</div>
