{%- import "components/delete.html" as d -%}
<div class="page">
  <section class="hero hero-transition">
    <h1>Debriefs</h1>
  </section>
  <section class="main-section-transition" x-data="{ admin: {{admin}} }">
    <section x-style="flex; flex-col; mx:3rem;">
      {% for test in testimonials %}
      <div
        class="bordered-box"
        x-style="
        w:100%;
        align-self:center;
        m:1rem;
        "
      >
        <h1
          class="underlined tattoo"
          x-style="color:@semper-orange; font-size:2rem; mb:0.25rem; mt:0.5rem;"
        >
          {{ test.firstname }} {{test.lastname}}
        </h1>
        {% if let Some(bio) = test.bio %}
        <small>{{ bio }}</small>
        {% endif %}
        <p>{{ test.content|safe }}</p>

        {% call d::deletion(DEBRIEFS, test.id, "admin") %}
      </div>
      {% endfor %}
    </section>
  </section>
</div>
