{%- import "components/delete.html" as d -%}
<link rel="stylesheet" href="/public/styles/dedications.css?v=1.1" />
<div class="page">
  <section class="hero hero-transition">
    <h1>Speak their names</h1>
  </section>
  <section class="main-section-transition" x-data="{ admin: {{admin}} }">
    <div x-style="flex; flex-col; lg|mx:4rem; mx:2rem;">
      {% for ded in dedications %}
      <section
        class="bordered-box"
        x-style="
        w:100%;
        align-self:center;
        flex;
        lg|flex-row;
        flex-col;
        justify-content:space-between;
        mb:1rem;"
      >
        <section x-style="align-self:center;">
          {% if !ded.carousel.images.is_empty() %}
          <!---->
          {{ Self::render_carousel(ded.carousel)|safe }}
          <!---->
          {% endif %}
        </section>
        <div x-style="flex; flex-col; flex-grow; m:1rem; lg|max-w: 50%">
          <h1
            x-style="my: 0.25rem; color:@semper-orange;"
            class="tattoo underlined"
          >
            {{ ded.name }}
          </h1>
          <div class="insert-extract">
            <h3>Insert: {{ ded.birth }}</h3>
            <h3>Extract: {{ ded.death }}</h3>
          </div>
          <p>{{ ded.bio|safe }}</p>
        </div>

        {% call d::deletion(DEDICATIONS, ded.id, "admin") %}
      </section>
      {% endfor %}
    </div>
  </section>
</div>
