<div class="page">
  <section class="hero hero-transition">
    <h1>Fallen Brothers</h1>
  </section>
  <section class="main-section-transition">
    <div x-style="flex; flex-col;">
      {% for ded in dedications %}
      <section x-style="w:100%; align-self:center;">
        <div>
          <h1>{{ ded.name }}</h1>
          <p>{{ ded.bio }}</p>
          <div>
            <h3>Insert: {{ ded.birth }}</h3>
            <h3>Extract: {{ ded.death }}</h3>
          </div>
        </div>
        <section x-style="h:50%; w:50%;">
          {% if !ded.carousel.images.is_empty() %} {{
          Self::render_carousel(ded.carousel)|safe }} {% else %}
          <p>No images</p>
          {% endif %}
        </section>
      </section>
      {% endfor %}
    </div>
  </section>
</div>
