<link rel="stylesheet" href="/public/styles/landing.css" />
<div class="page" x-style="overflow:hidden;">
  <section class="hero hero-transition">
    <h1>SemperFlies</h1>
    <p>
      We are a Non Profit Orginization, 501(c)(3) pending, in the South Lake
      Tahoe area of California. We participate in, support, & host events
      raising awareness for Veterans that struggle with PTSD, TBI, and
      Depression. 100% of the information we provide “is not” from any clinical
      background we have but rather from our own life experiences battling these
      conditions. We are not licensed in mental health and encourage anyone
      struggling with these conditions to seek professional help. We are
      committed to doing anything we can to Educate, Advocate, & Support any
      Veteran that served our country.
    </p>

    <div x-style="lg|mx:5rem; flex; flex-grow; flex-col; color:@semper-orange;">
      <h2 x-style="text-align:center; font-size:3rem; mb:0.25rem;">
        "Stay in The Fight!"
      </h2>
      <h5 x-style="text-align:center; font-size:1.5rem; my:0.25rem;">
        -Semper Flies Foundation
      </h5>
    </div>
  </section>
  <section
    class="main-section-transition"
    x-style="flex; flex-col; lg|mx:8rem; mx:3rem;"
  >
    <div x-style="flex; flex-col;  justify-self:center;">
      <h1 class="tattoo">Our Mission</h1>
      <ul>
        <li>
          <strong> E.A.S </strong> - <strong>E</strong>ducate,
          <strong>A</strong>dvocate and <strong>S</strong>upport Veterans
          suffering from PTSD, TBI & Depression
        </li>
        <li>Honor Cpl. Jason David Mileo</li>
        <li>Support Other Veteran 501(c)(3)'s</li>
      </ul>
    </div>

    <section id="landing-carousel" x-style="align-self:center; mt: 4rem;">
      {% if !carousel.images.is_empty() %}
      <!---->
      {{ Self::render_carousel(carousel)|safe }}
      <!---->
      {% else %}
      <p>No images</p>
      {% endif %}
    </section>
    <img
      style="
        min-width: 200px;
        min-height: 300px;
        width: 30vw;
        place-self: center;
      "
      src="/public/assets/images/1st_forcon.png"
    />
  </section>
</div>
