<div class="page">
  <section class="hero hero-transition">
    <h1>SemperFlies</h1>
    <p>
      We are a non profit based in the Carson Valley area, for veterans by
      veterans. We host events, provide mental health services and support
      veterans in any way we can.
    </p>
  </section>
  <section class="main-section-transition">
    <h1>Our Mission</h1>
    <ul>
      <li>
        <strong> E.A.S.E </strong> - Educate, Advocate and Support Veterans
        suffering from PTSD, TBI & Depression
      </li>

      <li>Honor Cpl. Jason David Mileo</li>
      <li>Support Other Veteran 501(c)(3)'s</li>
    </ul>
  </section>
</div>
