<link rel="stylesheet" href="/public/styles/patrol_gear.css" />
<div class="page">
  <section class="hero hero-transition">
    <h1>Patrol Gear</h1>

    <p x-style="text-align:center;">
      Email
      <span x-style="decoration:underline;"
        >Jamie@semperfliesfoundation.com</span
      >
      To place your order today!
    </p>
  </section>
  <section
    class="main-section-transition"
    x-init="$watch('current_gear', value=> console.log(value))"
    x-data="{ current_gear: null }"
  >
    <div x-style="flex; flex-row; justify-content: space-around;">
      <button @click="current_gear = '{{ HATS }}'">{{ HATS }}</button>
      <button @click="current_gear = '{{ MISC }}'">{{ MISC }}</button>
      <button @click="current_gear = '{{ TOPS }}'">{{ TOPS }}</button>
    </div>

    <div id="gear-display" x-style="lg|m:5rem; m:2rem;">
      <template x-if="current_gear === '{{ MISC }}'">
        <div class="merch-grid">
          {% for gear in Self::misc(self) %}
          <center>
            <h4>${{ gear.price}} Donation</h4>
            <img src="{{ gear.src }}" />
          </center>
          {% endfor %}
        </div>
      </template>

      <template x-if="current_gear === '{{ HATS }}'">
        <div class="merch-grid">
          {% for gear in Self::hats(self) %}
          <center>
            <h4>${{ gear.price}} Donation</h4>
            <img src="{{ gear.src }}" />
          </center>
          {% endfor %}
        </div>
      </template>

      <template x-if="current_gear === '{{ TOPS }}'">
        <div class="merch-grid">
          {% for gear in Self::tops(self) %}
          <center>
            <h4>${{ gear.price}} Donation</h4>
            <img src="{{ gear.src }}" />
          </center>
          {% endfor %}
        </div>
      </template>
    </div>
  </section>
</div>
