<link rel="stylesheet" href="/public/styles/patrol_logs.css" />
<div class="page">
  <section class="hero hero-transition">
    <h1>Patrol Logs</h1>
    <p>Semperflies hosts activities for vets and families</p>
  </section>
  <section
    x-data="{ showing_vids: false, toggle() { this.showing_vids = !this.showing_vids; }}"
    x-style="flex; flex-col; w:100%;"
    class="main-section-transition"
    hx-swap="innerHTML"
    hx-push-url="false"
  >
    <button
      x-show.important="showing_vids == false"
      x-style="lg|align-self:flex-end; align-self:center; m:1rem; mr:4rem; text:sm;"
      @click="toggle()"
      hx-get="/videos"
      hx-target="#logs-content"
    >
      Check out our videos
    </button>
    <button
      x-show.important="showing_vids"
      x-style="lg|align-self:flex-end; align-self:center; m:1rem; mr:4rem;text:sm;"
      @click="toggle()"
      hx-get="/patrol_logs"
      hx-select="#logs-content"
      hx-target="#logs-content"
    >
      Back to Patrol Logs
    </button>
    <section id="logs-content">
      <div x-style="flex; flex-col; " class="subsection-transition">
        {% for act in activities %}
        <div
          x-style="m:2rem; flex; lg|flex-row; flex-col; justify-content:space-between;"
        >
          <h1>{{act.heading}}</h1>
          <p>{{ act.description }}</p>
          <div x-style="w:50%; h:50%;">
            <!---->
            <p>{{ act.date }}</p>
            {% if !act.carousel.images.is_empty() %}
            <!---->
            {{ Self::render_carousel(act.carousel)|safe }}
            <!---->
            {% else %}
            <p>No images</p>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
    </section>
  </section>
</div>
