<link rel="stylesheet" href="/public/styles/patrol_gear.css" />
<div class="page" x-style="overflow:hidden;">
  <section class="hero hero-transition">
    <h1>Patrol Gear</h1>

    <p x-style="text-align:center;">
      Email
      <span x-style="decoration:underline;"
        >Jamie@semperfliesfoundation.com</span
      >
      To place your order today!
      <br />
      <br />

      Donations below do not reflect shipping costs that will need to be added
      to your final order.
      <br />
      <br />
      Please include the number associated with the item, quantity, and size if
      applicable.
      <br />
      <br />
      Thank you for supporting Semper Flies Foundation & raising awareness for
      Veterans that battle PTSD & TBI everyday!
      <br />
      <br />
    </p>
  </section>
  <section
    class="main-section-transition"
    x-init="$watch('current_gear', value=> console.log(value))"
    x-data="{ current_gear: '{{ HATS }}' }"
  >
    <div x-style="flex; flex-row; justify-content: space-around;">
      <button
        :class="current_gear === '{{ HATS }}' ? 'selected' : ''"
        @click="current_gear = '{{ HATS }}'"
      >
        {{ HATS }}
      </button>
      <button
        :class="current_gear === '{{ MISC }}' ? 'selected' : ''"
        @click="current_gear = '{{ MISC }}'"
      >
        {{ MISC }}
      </button>
      <button
        :class="current_gear === '{{ TOPS }}' ? 'selected' : ''"
        @click="current_gear = '{{ TOPS }}'"
      >
        {{ TOPS }}
      </button>
    </div>

    <div id="gear-display" x-style="lg|m:5rem; m:2rem;">
      <template x-if="current_gear === '{{ MISC }}'">
        <div class="merch-grid">
          {% for gear in Self::misc(self) %}
          <div>
            <h4>Misc #{{ gear.id}}</h4>
            <h4>${{ gear.price}} Donation</h4>
            {% if !gear.carousel.images.is_empty() %}
            <!---->
            {{ Self::render_carousel(gear.carousel)|safe }}
            <!---->
            {% endif %}
          </div>
          {% endfor %}
        </div>
      </template>

      <template x-if="current_gear === '{{ HATS }}'">
        <div class="merch-grid">
          {% for gear in Self::hats(self) %}
          <div>
            <h4>Hat #{{ gear.id}}</h4>
            <h4>${{ gear.price}} Donation</h4>
            {% if !gear.carousel.images.is_empty() %}
            <!---->
            {{ Self::render_carousel(gear.carousel)|safe }}
            <!---->
            {% endif %}
          </div>
          {% endfor %}
        </div>
      </template>

      <template x-if="current_gear === '{{ TOPS }}'">
        <div class="merch-grid">
          {% for gear in Self::tops(self) %}
          <div>
            <h4>Top #{{ gear.id}}</h4>
            <h4>${{ gear.price}} Donation</h4>
            {% if !gear.carousel.images.is_empty() %}
            <!---->
            {{ Self::render_carousel(gear.carousel)|safe }}
            <!---->
            {% endif %}
          </div>
          {% endfor %}
        </div>
      </template>
    </div>
  </section>
</div>
