{%- import "components/delete.html" as d -%}
<link rel="stylesheet" href="/public/styles/patrol_log.css?v=1.1" />
<div class="page">
  <section class="hero hero-transition">
    <h1>Patrol Log</h1>
    <p>
      We participate in, support, & host events raising awareness for Veterans
      that struggle with PTSD, TBI, and Depression.
    </p>
  </section>
  <section
    x-data="{ 
      showing_vids: false,
      admin: {{ admin }},
      toggle() { this.showing_vids = !this.showing_vids; }
    }"
    x-style="flex; flex-col; w:100%;"
    class="main-section-transition"
    hx-swap="innerHTML"
    hx-push-url="false"
  >
    <button
      x-show.important="showing_vids == false"
      class="small"
      x-style="lg|align-self:flex-end; align-self:center; m:1rem; mr:2rem; "
      @click="toggle()"
      hx-get="/videos"
      hx-target="#log-content"
    >
      Check out our videos
    </button>
    <button
      x-show.important="showing_vids"
      class="small"
      x-style="lg|align-self:flex-end; align-self:center; m:1rem; mr:2rem;"
      @click="toggle()"
      hx-get="/patrol_log"
      hx-select="#log-content"
      hx-target="#log-content"
    >
      Back to Patrol Log
    </button>
    <section id="log-content">
      <div x-style="flex; flex-col; " class="subsection-transition">
        {% for l in logs %}
        <div
          x-style="
          m:2rem;
          flex;
          lg|flex-row;
          flex-col;
          justify-content:space-between;
          b: 1px @primary-light solid;
          radius:xl;
          p: 1rem;
          bg-color:@primary-dark;
          "
        >
          <div x-style="flex; flex-col; flex-grow; m:1rem; lg|max-width:60%;">
            <h1
              x-style="my: 0.25rem; color:@semper-orange;"
              class="tattoo underlined"
            >
              {{l.heading}}
            </h1>
            <small>{{ l.date }}</small>
            <p>{{ l.description }}</p>
            {% if !l.carousel.images.is_empty() %}
            <button
              onclick="window.location.href='/patrol_log?heading={{l.heading}}'"
              x-style="mt: auto;"
              class="small"
            >
              Gallery
            </button>
            {% endif %}
          </div>

          <section x-style="align-self:center; ">
            {% if !l.carousel.images.is_empty() %}
            <!---->
            {{ Self::render_carousel(l.carousel)|safe }}
            <!---->
            {% endif %}
          </section>

          {% call d::deletion(PATROL_LOG, l.id, "admin") %}
        </div>
        {% endfor %}
      </div>
    </section>
  </section>
</div>
