<script src="/public/scripts/shopping-cart.js" defer>
</script>

<div class="cart-container">
  <h2>Shopping Cart</h2>
  <div id="cart-items"></div>
  <h3 id="cart-total">Total: $0.00</h3>
</div>

<style>
  .cart-container {
    display: flex;
    margin: 2rem;
    flex-direction: column;
  }

  .items-container {
    display: flex;
    margin: 2rem;
    justify-content: center;
    flex-wrap: wrap;
  }

  .cart-item {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    max-width: 200px;
    margin: 10px;
  }

  .cart-item img {
    width: 100px;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
  }

  #cart-total {
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 1rem;
    text-align: center;
  }
</style>