<link rel="stylesheet" href="/public/styles/admin_upload.css" />
<script>
  function displayMessageAndResetForms(event, el) {
    const forms = document.querySelectorAll("#logged-in form");
    const imageUploadsContainers = document.querySelectorAll(
      "#image-uploads-container",
    );
    if (event.detail.failed) {
      el.classList.add("fail");
      setTimeout(() => {
        el.textContent = "";
        forms.forEach((form) => form.reset());
        imageUploadsContainers.forEach((container) => {
          container.innerHTML = "";
        });
      }, 3000);
    } else {
      el.classList.remove("fail");
    }
  }
</script>
<div
  x-style="flex; flex-col; flex-grow; m:2rem;"
  x-data="{logged_in: {{logged_in}}, toggle_logged_in() { this.logged_in = !this.logged_in; }}"
>
  <section x-show.important="logged_in == false">
    <p x-style="text-align:center;">
      You need to be logged in to access this page
    </p>
  </section>

  <button
    x-style="align-self:left;"
    hx-get="/admin/status"
    hx-push-url="true"
    hx-target="#route-content"
    hx-swap="innerHTML transition:true"
    class="button"
  >
    Take me to login/logout page
  </button>
  <section
    id="logged-in"
    x-data="{ current_form: null }"
    x-show.important="logged_in"
  >
    <div
      id="form-selection"
      x-style="flex; flex-col; my:1.5rem; gap:1rem; align-self:center;"
      x-show.important="current_form == null"
    >
      <button @click="current_form = 'support'">Show Support Form</button>
      <button @click="current_form = 'debriefs'">Show Debriefs Form</button>
      <button @click="current_form = 'patrol_log'">Show Patrol Log Form</button>
      <button @click="current_form = 'dedications'">
        Show Dedications Form
      </button>
    </div>

    <div x-show="current_form === 'support'">
      <div>
        {% include "admin/forms/support.html" %}
        <button @click="current_form = null">Hide Form</button>
      </div>
    </div>

    <div x-show="current_form === 'debriefs'">
      <div>
        {% include "admin/forms/debriefs.html" %}
        <button @click="current_form = null">Hide Form</button>
      </div>
    </div>

    <div x-show="current_form === 'patrol_log'">
      <div>
        {% include "admin/forms/patrol_log.html" %}
        <button @click="current_form = null">Hide Form</button>
      </div>
    </div>

    <div x-show="current_form === 'dedications'">
      <div>
        {% include "admin/forms/dedications.html" %}
        <button @click="current_form = null">Hide Form</button>
      </div>
    </div>
  </section>
  <span
    @htmx:before-swap="displayMessageAndResetForms($event, $el)"
    id="upload-response"
  >
  </span>
</div>
