<form
  hx-push-url="false"
  hx-history="false"
  hx-indicator="#upload-response"
  hx-target="#upload-response"
  hx-trigger="submit"
  hx-swap="innerHTML"
  hx-post="/data/auth/upload_multipart/dedications"
  enctype="multipart/form-data"
>
  <h1>Dedications</h1>

  <label for="name">Full Name:</label>
  <input
    type="text"
    id="name"
    name="name"
    placeholder="John Middle Doe"
    required
  />

  <div x-style="flex; flex-row; my:0.5rem; gap:0.5rem;">
    <label for="birth"
      >Birth:
      <input type="date" id="birth" name="birth" required />
    </label>

    <label for="death"
      >Death:
      <input type="date" id="death" name="death" required />
    </label>
  </div>

  <label for="bio">Biography: </label>
  <textarea
    id="bio"
    name="bio"
    placeholder="Biography..."
    rows="4"
    cols="50"
    required
  ></textarea>

  {% include "admin/forms/images.html" %}
  <button type="submit">Upload</button>
</form>
