<form
  hx-push-url="false"
  hx-target="#upload-response"
  hx-swap="innerHTML"
  hx-post="/data/auth/upload_multipart/patrol_log"
  enctype="multipart/form-data"
>
  <h1>Patrol Log</h1>
  <label for="heading">Heading:</label>
  <input
    type="text"
    id="heading"
    name="heading"
    placeholder="Some Activity"
    required
  />

  <label for="date"
    >Date:
    <input type="date" id="date" name="date" required />
  </label>

  <label for="description"
    >Description:
    <textarea
      id="description"
      name="description"
      placeholder="Description...."
      rows="4"
      cols="50"
      required
    ></textarea>
  </label>

  {% include "admin/forms/images.html" %}
  <button type="submit">Upload</button>
</form>
