.insert-extract h3 {
  margin: 0.25rem 0rem;
}

#ded-content .carousel-container {
  box-sizing: content-box;
}

#ded-content .carousel-container img {
  object-fit: cover;
  justify-self: center;
  min-width: 250px;
  min-height: 350px;
  max-width: 30vw;
  max-height: 40vw;
}
