@keyframes subsection-in {
  from {
    opacity: 0;
    transform: translateY(-100vw);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes subsection-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(100vw);
  }
}

::view-transition-old(subsection) {
  animation: 500ms cubic-bezier(0.95, 0.92, 0.08, 0.95) both subsection-out;
}
::view-transition-new(subsection) {
  animation: 500ms cubic-bezier(0.95, 0.92, 0.08, 0.95) both subsection-in;
}

.subsection-transition {
  transform-origin: center top;
  view-transition-name: subsection;
}

#landing-carousel {
  width: 80vw !important;
  height: 100vw !important;
}

#landing-carousel .carousel-container .images {
  place-content: flex-start;
}

#landing-carousel .carousel-container .images img {
  place-self: center;
  width: 60vw !important;
  height: auto !important;
  object-fit: contain !important;
}

.main-section-transition ul {
  list-style-type: square;
  padding-left: 1rem;
}

.main-section-transition ul li strong {
  font-family: "Tattoo";
  font-weight: 900;
}
