#gear-display .merch-grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2rem;
  justify-content: center;
  align-content: start;
}

.merch-grid > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.merch-grid img {
  justify-self: center;
  object-fit: contain;
  /* min-width: 30vw; */
  /* min-height: 350px; */
  max-width: 20rem;
  max-height: 40rem;
}

.merch-grid h4 {
  text-align: center;
  margin-top: 0.25rem;
  color: var(--semper-orange);
}

.carousel-image-container h1 {
  text-align: center;
  font-size: 1rem;
  color: var(--semper-orange);
}

@media screen and (max-width: 920px) {
  #gear-display .merch-grid {
    grid-auto-rows: minmax(min-content, max-content);
  }
}
