#products-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  margin: 0rem 2rem;
}

/* Style each product item for a consistent grid appearance */
.category-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

shop-item {
  width: 100%;
  /* Add any additional styling for individual products here */
}

#category-filter {
  display: inline-block;
  padding: 10px;
  font-size: 1rem;
  border-radius: 8px;
  background-color: var(--primary-light);
  border: 1px solid var(--semper-orange);
  box-sizing: content-box;
}

@media screen and (max-width: 920px) {}
