<link rel="stylesheet" href="/public/styles/global.css" />
<style>
  #fourofour {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-align: center;
  }

  #fourofour h1 {
    color: white;
    font-size: 5rem;
    margin: 0rem 0rem;
  }

  #fourofour a {
    color: red;
    align-self: center;
    text-decoration-line: underline;
  }
</style>
<div id="fourofour">
  <h1>404</h1>
  <p>Page Not Found</p>
  <a href="/">Take me Back!</a>
</div>
