<style>
  nav > button {
    margin: 0rem 1rem;
    color: whitesmoke;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: "Tattoo";
    transition: all ease-in-out 200ms;
  }
  nav > button:hover {
    color: var(--primary-dark);
    background-color: whitesmoke;
  }
</style>
<div>
  <nav
    x-style="md|font-size:2.5rem; font-size:1rem;"
    hx-target="#route-content"
    hx-swap="innerHTML transition:true"
    hx-push-url="true"
  >
    <button hx-get="/about-us">About Us</button>
    <button hx-get="/resources">Resources</button>
    <button hx-get="/store">Store</button>
    <button hx-get="/fallen-brothers">Fallen Brothers</button>
    <button hx-get="/videos">Videos</button>
  </nav>
  <div
    x-style="overflow:hidden; flex; flex-grow;"
    id="route-content"
    hx-target="this"
    hx-trigger="load"
    hx-swap="innerHtml transition:true"
    hx-get="{{path}}{{params}}"
    hx-push-url="true"
  ></div>
</div>
