<link rel="stylesheet" href="public/styles/carousel.css" />

<div
  x-data="{            
    slides: [                
        {% for img in images %}
        {
          imgSrc: '{{ img.src }}',
          imgAlt: '{{ img.alt }}',
        },                
        {% endfor %}
    ],            
    currentSlideIndex: 1,
    previous() {                
        if (this.currentSlideIndex > 1) {                    
            this.currentSlideIndex = this.currentSlideIndex - 1                
        } else {   
            this.currentSlideIndex = this.slides.length                
        }            
    },            
    next() {                
        if (this.currentSlideIndex < this.slides.length) {                    
            this.currentSlideIndex = this.currentSlideIndex + 1                
        } else {                 
            this.currentSlideIndex = 1                
        }            
    },        
    renderImgNav() {
      console.log(this.slides.length > 1);
      return this.slides.length > 1
    }
}"
  x-style=" w:100%; overflow:hidden; ^stack;"
>
  <section class="images">
    <template x-for="(slide, index) in slides">
      <div x-show="currentSlideIndex == index + 1">
        <img
          x-style="w:50vw; h:75vw; object-fit:cover;"
          x-bind:src="slide.imgSrc"
          x-bind:alt="slide.imgAlt"
        />
      </div>
    </template>
  </section>
  <section
    class="navigation"
    x-show.important="renderImgNav()"
    x-cloak
    x-style="flex; flex-row; justify-content:space-between; align-self:center;"
  >
    <button
      class="material-symbols-outlined"
      type="button"
      aria-label="previous slide"
      x-on:click="previous()"
    >
      chevron_left
    </button>

    <button
      class="material-symbols-outlined"
      type="button"
      aria-label="next slide"
      x-on:click="next()"
    >
      chevron_right
    </button>
  </section>
</div>
