<link rel="stylesheet" href="public/styles/carousel.css" />

<div
  class="carousel-container"
  x-data="{            
    slides: [                
        {% for img in images %}
        {
          imgSrc: '{{ img.src }}',
          imgAlt: '{{ img.alt }}',
          imgSub: `{{ img.subtitle|safe }}`,
        },                
        {% endfor %}
    ],            
    currentSlideIndex: 1,
    autoScroll: {{ auto_scroll }},
    showSubtitles: {{ show_subtitles }},
    previous() {                
        if (this.currentSlideIndex > 1) {                    
            this.currentSlideIndex = this.currentSlideIndex - 1                
        } else {   
            this.currentSlideIndex = this.slides.length                
        }            
    },            
    next() {                
        if (this.currentSlideIndex < this.slides.length) {                    
            this.currentSlideIndex = this.currentSlideIndex + 1                
        } else {                 
            this.currentSlideIndex = 1                
        }            
    },        
    renderImgNav() {
      return this.slides.length > 1 && !this.autoScroll
    }
  }"
  x-init="$nextTick(() => {
      let autoScrollTimeout = 8000;
      if (autoScroll) {
        setTimeout(() => {
          next();
        }, autoScrollTimeout);
      $watch('currentSlideIndex', value => {
        setTimeout(() => {
          next();
        }, autoScrollTimeout);
      }) 
      }
  })"
  x-style="overflow:hidden; ^stack;"
>
  <section class="images">
    <template x-for="(slide, index) in slides">
      <div
        x-show.important="currentSlideIndex == index + 1"
        x-style="grid; place-items:center;"
      >
        <div x-style="box-sizing: content-box; flex; flex-col;">
          <h1
            x-show="showSubtitles"
            x-style="mt:0rem; justify-self:left;"
            x-html="slide.imgSub"
          ></h1>
          <img
            x-style="w:80vw; h:75vw; radius:lg; object-fit:cover;"
            x-bind:src="slide.imgSrc"
            x-bind:alt="slide.imgAlt"
          />
        </div>
      </div>
    </template>
  </section>

  <section
    class="navigation"
    x-show.important="renderImgNav()"
    x-cloak
    x-style="flex; flex-row; h:100%; w:100%; justify-content:space-between; align-self:flex-end;"
  >
    <button
      class="material-symbols-outlined"
      type="button"
      aria-label="previous slide"
      x-on:click="previous()"
    >
      chevron_left
    </button>

    <button
      class="material-symbols-outlined"
      type="button"
      aria-label="next slide"
      x-on:click="next()"
    >
      chevron_right
    </button>
  </section>
</div>
