<link rel="stylesheet" href="/public/styles/footer.css" />

<footer x-style="flex; flex-col; mb:1rem; mt:3rem; min-w:100%; text:xs; ">
  <div x-style="flex; flex-row; justify-content:space-around; mb:2rem;">
    <div x-style="flex; flex-col; justfiy-content:center; text-align:center;">
      <h1 x-style="color:grey;">Contact info</h1>
      <p x-style="color:grey;">jamie@semperflies.com</p>
    </div>
    <div x-style="flex; flex-col; justfiy-content:center;">
      <h1 x-style="color:grey; text-align:center;">Follow Us</h1>
      <div id="logos" x-style="flex; flex-row; gap:1;">
        <a href="https://x.com/semperflies?s=21&t=AvBxzMlosKaISQ80JMS9bA">
          <img
            src="/public/assets/images/media_logos/twitter-logo.svg"
            loading="lazy"
            alt="twitter Icon"
            width="30"
          />
        </a>
        <a href="https://www.facebook.com/semperflies.ptsd?mibextid=LQQJ4d">
          <img
            src="/public/assets/images/media_logos/Facebook_icon.svg"
            loading="lazy"
            alt="Facebook Icon"
            width="30"
          />
        </a>
        <a
          href="https://youtube.com/@semperfliesfoundation?si=6QAQOGFDr4qrn-Gx"
        >
          <img
            src="/public/assets/images/media_logos/youtube-logo.svg"
            loading="lazy"
            alt="Youtube Icon"
            width="30"
          />
        </a>
        <a
          href="https://www.linkedin.com/in/jamie-guajardo-bb82b6220?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app"
        >
          <img
            src="/public/assets/images/media_logos/Linkedin_logo.svg"
            loading="lazy"
            alt="LinkedIn Icon"
            width="30"
          />
        </a>
        <a
          href="https://www.threads.net/@semperfliesfoundation?xmt=AQGzU6YOqCybVuWwmr_EEDMJJpFyUy_S1qsWegaeAcf5R-8"
        >
          <img
            src="/public/assets/images/media_logos/Threads_icon.svg"
            loading="lazy"
            alt="Threads Icon"
            width="30"
          />
        </a>
        <a href="https://www.instagram.com/semperfliesfoundation/">
          <img
            loading="lazy"
            src="/public/assets/images/media_logos/Instagram_icon.svg"
            alt="Instagram Icon"
            width="30"
          />
        </a>
      </div>
    </div>
  </div>
  <div x-style="flex-col; flex;">
    <p x-style="align-self:center; my:0; color:grey;">
      © Copyright 2024 - Powered by HTMX – All Rights Reserved
    </p>
    <p x-style="text-align:right; mr:1rem; my:0; color:grey;">
      <small>Built by</small>
      <a x-style="color:@semper-orange;" href="https://www.voidkandy.space"
        ><strong>VoidKandy</strong></a
      >
    </p>
  </div>
</footer>
